<%include ./partials/header %>
<div class="ui main text container">
    <div class=" ui huge header">Sports Equipment</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <%for(var i=0;i<sports.length;i++){%>
            <div class="item">
                <div class="image">
                    <img src="<%=sports[i].image%>">
                </div>
                <div class="content">
                    <a class="header" href="/shops/<%=sports[i]._id %>"><%=sports[i].title%></a>
                    <div class="description">
                        <p><%=sports[i].body%></p>
                    </div>
                    <div class="extra">
                        <a class="ui floated basic violet button" href="/<%=sports[i]._id %>">Read More
                            <i class="right chevron icon"></i></a>
                    </div>
                </div>
            </div>
            <%}%> 
        </div>
    </div>
</div>

<% include ./partials/footer%>